header {
  background-color: #288547;
  color: white;
  padding: 40px 35px !important;
  font-weight: 200;
}
header img {
  max-width: 250px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
header h2 {
  font-family: "Castoro", serif;
  font-size: 2.2em;
  margin-top: 25px;
  margin-bottom: 10px;
}
header p {
  margin-bottom: 6px !important;
  line-height: 1.3;
}
header a {
  color: white !important;
  text-decoration: none;
}
header span {
  font-weight: 600;
}
header h6 {
  margin-top: 30px;
  font-weight: 300;
  font-size: 1.2em;
  color: rgb(1, 45, 24);
}
header hr {
  border: 0 !important;
  border-top: 2px solid #d2f4df !important;
  opacity: 1 !important;
}

.container {
  margin: 10px !important;
}

.div-img {
  text-align: center;
  margin-bottom: 20px;
}
.div-img h6 {
  margin-top: 0px;
}

.date {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.accordion-section .section-content {
  display: block;
}
.accordion-section p {
  margin-bottom: 15px !important;
  line-height: 1.3;
}
.accordion-section input {
  display: none;
}
.accordion-section label {
  display: block;
}
.accordion-section h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-section .bi-chevron-down {
  display: none;
}

main {
  background-color: white;
  padding: 55px 50px !important;
}
main h1 {
  font-family: "Castoro", serif;
  font-size: 3.5em;
  color: #288547;
  margin-bottom: 5px;
}
main p {
  color: #012d18;
  font-weight: 300;
  margin-bottom: 45px !important;
}
main h6 {
  color: #288547;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 10px;
}
main hr {
  border: 0 !important;
  border-top: 4px solid #d2f4df !important;
  opacity: 1 !important;
  margin-top: 5px;
  margin-bottom: 18px;
}
main p {
  font-size: 1.1em;
  line-height: 1.5;
}

.progetti {
  display: flex;
  gap: 15px;
  width: 100%;
}

.progetto {
  width: 100%;
  background-color: #d2f4df;
  border-left: 6px solid #288547;
  text-decoration: none;
  color: #012d18;
  transition: 0.3s;
}

.progetto:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.anteprima {
  width: 100%;
  height: 130px;
  overflow: hidden;
}
.anteprima img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 0;
}

.info-progetto {
  padding: 15px;
}
.info-progetto h5 {
  margin: 0 0 8px;
  color: #288547;
}
.info-progetto p {
  margin: 0 !important;
  font-size: 0.9em;
}

/* mobile */
@media screen and (max-width: 767px) {
  img {
    width: 200px;
  }
  .container {
    width: 100%;
    padding: 0;
    margin: 0 auto !important;
  }
  .row {
    margin: 0;
  }
  header,
  main {
    width: 100%;
    margin: 0;
  }
  .section-content p {
    margin-bottom: 15px !important;
    line-height: 1.3;
  }
  .accordion-section label {
    cursor: pointer;
  }
  .accordion-section .section-content {
    display: none;
  }
  .accordion-section .bi-chevron-down {
    display: inline;
    transition: transform 0.3s ease;
  }
  .accordion-section input:checked ~ .section-content {
    display: block;
  }
  .accordion-section input:checked + label h6 i {
    transform: rotate(180deg);
  }
  .progetti {
    display: flex;
    flex-direction: column;
  }
  .progetti .progetto {
    width: 100%;
  }
  main p {
    font-size: 1em;
  }
  main h1 {
    font-size: 3em;
  }
  main .h6-esperienze {
    font-size: 0.8em;
  }
}
/*tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .row {
    margin: 0;
  }
  header,
  main {
    width: 100%;
    margin: 0;
  }
  img {
    width: 200px;
  }
  main h1 {
    font-size: 3.2em;
  }
}
body {
  border: 1px solid #288547;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
